 <?php foreach($messages as $mess):?>
    <article>
        <h3><?=$mess['name']?></h3>
        <p>Дата создания: <?=$mess['date']?></p>
        <?php foreach ($mess['photos'] as $photo):?>
            <img src="<?=SUBSERVER.$mess['dir'].$photo['url']?>" alt="">
        <?php endforeach?>
    </article>
    <?php endforeach?>
</table>
<?php if($user):?>
<button><a href="" id="eventsAdd">добавить</a></button>
<div class="formForEvents" style="display: none;">
    <form method="POST" action="">
        заголовок: <input type="text" id="eventsTitle" name="eventsTitle"><br>
        текст: <input type="text" id="eventsText" name="eventsText"><br>
        теги: <input type="text" id="eventsTags" name="eventsTags"><br>
        <!--<input type="submit" id="eventsButton" value="ok">-->
    </form>
</div>
<?php endif?>